a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: teal;
}

.Header{
    display:flex;
    flex:1;
    background-color:rgb(133, 190, 251);
    justify-content: space-around;
    align-items:center;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 100;
    padding: 7px;
}

.Header-logo{
    margin-left: 3%;
    justify-content: center;
    align-items:center;
}
.Header-logo a{
    display:flex;
    align-items: center;
}

.Header-logo b{
    padding-left:5px;
}

.Header-search{
    display: flex;
    flex:1;
    justify-content: center;
    align-items: center;
}

.Header-search input[type="text"]{
    width: 300px;
    
    padding: 5px;
    border-radius:10px 0px 0px 10px;
    border: 1px solid lightblue;
    border-right-color: white;
}
.Header-search input[type="search"]:focus{
    outline: none;
    border: 1px solid teal;
}

.search-symbol{
    background-color: white;
    border: 1px solid lightblue;
    border-radius:0px 10px 10px 0px;
    border-left-color: white;
    padding: 0.7px;
}
.search-symbol:hover{
    cursor: pointer;
}
.Header-nav-bar{
    margin-right: 3%;
    display: flex;
    justify-content: space-evenly;
}
.Header-nav-bar .option-2,.Header-nav-bar .option-1{
    padding:0px 7px 0 7px;
    margin: 0px 20px 0 20px;
}
.option-2{
    display: flex;
    align-items: center;
}