

a{
    text-decoration: none;
    color: white;
}
a:hover, .option-2:hover{
    border-bottom: 1px solid white;
}

.Header{
    display:flex;
    flex:1;
    background-color:rgba(0, 0, 0, 0.769);
    justify-content: space-around;
    align-items:center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    padding: 7px;
}

.Header-logo{
    margin-left: 3%;
    justify-content: center;
    align-items:center;
}
.Header-logo a{
    display:flex;
    align-items: center;
    padding: 5px;
}

.Header-logo b{
    padding-left:5px;
}

.Header-search{
    display: flex;
    flex:1;
    justify-content: center;
    align-items: center;
}

.Header-search input[type="text"]{
    width: 300px;
    
    padding: 9px;
    border-radius:10px 0px 0px 10px;
    border: 1px solid white;
    border-right-color: white;
    
    
}
.search-bar:focus{
    outline: none;
    border: 10px solid black;

}

.search-symbol{
    background-color: white;
    border: 1px solid white;
    border-radius:0px 10px 10px 0px;
    
    padding: 4.7px;
}
.search-symbol:hover{
    cursor: pointer;
    background-color: grey;
}
.Header-nav-bar{
    margin-right: 3%;
    display: flex;
    justify-content: space-evenly;
    justify-content: center;
    align-items: center;
}
.Header-nav-bar .option-2,.Header-nav-bar .option-1{
    padding:0px 7px 0 7p;
    margin: 0px 20px 0 20px;
    
}
.Header-cart-icon{
    display: flex;
}